<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <permission
        android:name="com.example.projekt.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.projekt.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Projekt"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_bus" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".Login_SingUP.Registration"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Login_SingUP.Login"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".AccountManagement"
            android:exported="true" />
        <activity
            android:name=".Operations.NewTransaction"
            android:exported="true"/>
        <activity
            android:name=".Operations.RemoveTransaction"
            android:exported="true"/>
        <activity
            android:name=".Operations.EditTransaction"
            android:exported="true"/>
        <activity
            android:name=".Operations.TransactionAdapter"
            android:exported="true"/>
        <activity android:name=".RegularPayments.RegularPayments"
            android:exported="true"/>
        <activity android:name=".RegularPayments.RegularPaymentsCreate"
            android:exported="true"/>
        <activity android:name=".Settings"
            android:exported="true"/>
        <activity android:name=".Help.Help"
            android:exported="true"/>
        <activity android:name=".Budgets.Budget"
            android:exported="true"/>
        <activity android:name=".RateTheApp"
            android:exported="true"/>
        <activity android:name=".Operations.RecoverTransaction"
            android:exported="true"/>
        <activity android:name=".Activities.UserManualActivity"
            android:exported="true"/>
        <activity android:name=".Activities.SavingsGoalsActivity"
            android:exported="true"/>
        <activity android:name=".Activities.AddInvestmentsActivity"
            android:exported="true"/>
        <activity android:name=".Activities.InvestmentsActivity"
            android:exported="true"/>
        <activity android:name=".Budgets.BudgetActivity"
            android:exported="true"/>
        <activity android:name=".Activities.AddBudgetActivity"
            android:exported="true"/>

        <service
            android:name=".Notifications.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>